/*header*/
@media(max-width:768px) {
    .header-social-icon{
        display: none;
    }
    }
/*login and register*/    
.Login-items{
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.registration-items{
     padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.others-items{
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
} 

.bottom-flex-container {
    margin-top: 40px;
}
.woocommerce-button{
    padding-top: 14px;
    padding-right: 28px;
    padding-bottom: 14px;
    padding-left: 28px;
    color: #ffffff;
    border-color: #0088cc;
    background-color: #0088cc;
    font-size: 100%;
    line-height: 1;
    text-decoration: none;
    overflow: visible;
    font-weight: 700;
    border-radius: 3px;
    border: 0;
}
.forget-password a{
    box-shadow: none;
    text-decoration: none;
    color: #111111;
    transition: all .2s linear;
}
.forget-password a:hover{
    color: dodgerblue;
}